@model QuestionMark.ViewModels.UserInformationViewModel

<div class="row">
    <div class="col-md-10 col-md-offset-1">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h3 class="panel-title">User Information</h3>
            </div>
            <div class="panel-body">
                <dl class="dl-horizontal">
                    <dt>Matrícula:</dt>
                    <dd>
                        @Model.EnrollmentNumber
                    </dd>

                    <dt>Nome:</dt>
                    <dd>
                        @Model.Name
                    </dd>

                    <dt>Email:</dt>
                    <dd>
                        @Model.Email
                    </dd>
                </dl>
            </div>
        </div>
    </div>
</div>