@model IEnumerable<QuestionMark.Models.Question>

@{

    ViewBag.Title = "Home Page";
}

<div class="modal fade" tabindex="-1" role="dialog" id="newQuestionModal">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">Nova Pergunta</h4>
            </div>
            <div class="modal-body">
                <p>One fine body&hellip;</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Enviar</button>
            </div>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<div class="grid">
    <div class="grid-item">sdfsdf</div>
    <div class="grid-item">sdfsdf</div>
    <div class="grid-item">sdfsdf</div>
    <div class="grid-item">sdfsdf</div>
    <div class="grid-item">sdfsdf</div>
    @foreach (var item in Model)
    {
        <div class="grid-item">@item.Content</div>
    }
</div>

@section scripts
{
<script>
    $('.grid').masonry({
        itemSelector: '.grid-item',
    });
</script> 
}
